#search_bar_posts,
#search_bar_users,
.filters {
    width: inherit;
    margin: 1vmax;
}

.text-center {
    text-align: center;
}

.author {
    color: rgb(130, 130, 130);
    font-size: 10px;
}

.card,
.card-user {
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 1vmax;
    text-decoration: none;
    color: black;
}

.border-right {
    border-right: 0.2px solid black;
}

.card-user {
    margin-bottom: 0.3vmax;
    text-align: center;
}

#posts,
#users {
    margin-left: 1vmax;
    margin-right: 1vmax;
}

.filters {
    width: 50%
}

.filters h4 {
    margin: 1px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

[hidden] {
    display: none;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-12 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.col-1 {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}

.col-4 {
    flex: 4;
}

.col-12 {
    flex: 12;
}