.register-background {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}

.background-img {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    opacity: 90%;
}

.content-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-form-container {
    /*border: 1px solid #212529;*/
    border-radius: 1%;
    width: 30vw;
    height: 70vh;
    background-color: #9A879D;
    box-shadow: 10px 30px 40px #212529AA;
}

.register-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.register-form-row {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: normal;
}

.register-form-row > label {
    width: 35%;
}

.register-form-row > input, .register-form-row > a {
    flex: 1;
}

.register-form-row > a {
    text-align: center;
}

.error {
    color: rgb(153, 0, 0);
}