@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html {
    height: 100%;
    width: 100%;
}

html, body, .container{
    font-family: "Roboto";
    padding: 0px;
    margin: 0px;
}

body, .container{
    height: 100%;
    width: 100%;
}

h1 {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.error {
    color:red;
}

.navbar-flex-container {
    height: 8%;
    display:flex;
    flex-direction: row;
    background-color: #212529;
    color: white;
    justify-content: center;
}

.navbar-flex-container a {
    text-decoration: none;
    color: white;
}

.navbar-flex-container input[type=submit] {
    height: 30px;
    width: 100px;
    background-color: #212529;
    border-style: outset;
    border-color: #FFFFFFDD;
    color: #FFFFFFDD;
    border-radius: 0px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: all ease 0.3s;
}

.navbar-flex-container input[type=submit]:hover {
    background-color: #FFFFFFDD;
    color: #212529;
}

.navbar-left {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3vw;
    width: 75%;
}

.navbar-right {
    display:flex;
    width: 25%;
    align-items: flex-end;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3vw;
}

.navbar-right-container {
    display:flex; 
    flex-direction: row; 
    justify-content: space-between;
    width: 100%;
}

.navbar-right-container div:only-child {
    margin-left: auto;
}

.navbar-username {
    margin: auto;
}

.content-container {
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left: 3vw;
    margin-right: 3vw;
}